# Protect secrets
.env

# Mac system files
.DS_Store

# Ignore data folders
data/

# Ignore large CSV output files
*.csv
# ... EXCEPT for these specific, important output files.
!nyc_weather_2022.csv
!citi_bike_top_1000_routes.csv

# Ignore Python virtual environments
.env/
venv/
env/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore ALL HTML files by default...
*.html
# ... EXCEPT for our final map deliverable.
!nyc_top_1000_bike_routes.html
